body {
  font-family: sans-serif;
  margin: 2em;
  padding: 0;
}

li {
  margin-bottom: 5px;
}
li:last-child {
  margin-bottom: 0;
}

img {
  border-radius: 50%;
  height: 32px;
  margin-right: 5px;
  width: 32px;
  vertical-align: middle;
}
